NEON_DATABASE_URL=postgresql://user:pass@ep-restless.eu-central-1.aws.neon.tech/neondb
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
LLM_API_KEY=
ARCJET_KEY=ajkey_xyz
ALLOWED_ORIGINS=http://localhost:3000
